
body{padding: 0px; margin: 0px;}

a{outline:none;}

#fundo{display: none; position:absolute;}

#area {
display: block;
position: relative;
width: 100%;
height: 100%;
}


#aparece0{
top:0px;
left:0px;	
}

#seta_v{
top:215px;
left:20px;
z-index:100;
cursor:pointer;	
}

#seta_a{
cursor: pointer;
left: 615px;
top: 215px;
z-index: 100;
}


#video_tela{
background-color: #000;
border: 4px solid #ffffff;
cursor: pointer;
height: 438px;
left: 88px;
top: -37px;
width: 777px;
z-index: 50;
}
